body {
width: 100%;
height: 100%;
margin: 0 auto;
zoom: 1;
overflow-x: hidden;


}
ul {
   padding: 0px!important; 
}
.menu-principal {
width: 100%;
background-color: #FA3232;
height: 147px;
}
main, .content {
margin: 0 auto;
width: 980px;
position: relative;

}

.slidermov{    
    margin-left: -167px;
}
.logo {
 float: left;
 
 width: 60%;
}
.redes-sociais ul li {
margin-left: 25px;
display: inline-block;
float: left;
list-style: none;
}
.redes-sociais {
margin-top: 20px;
width: 35%;
float: right;
margin-right: -183px;
}
 


.header-2 {
background-color: #ffffff;
width: 980px;
margin: 0 auto;
margin-top: -9px;
z-index: 10;
}
.menu-urls {
height: 40px;
border-bottom: 3px solid #000000;
}
.menu-urls-2{
    
    border-bottom: 3px solid #000000;

    border-top: 3px solid #000000;

}
.menu ul li {
    display: inline-block;
    color: #000000;
    margin-left: 15px;
    height: 31px; /** move a altura do ul li */
}

.menu ul li:hover {
    border-bottom: 3px solid #a10207;
}

.menu ul li a:hover {
    color: #a10207;
    
}

.menu ul li a {
    color: #000000; 
    text-decoration: none; /** remove linha embaixo*/
    font-size: 20px; /** tamanho das opções*/
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.menu {
margin-left: -14px;
width: 70%;
float: left;


}
.busca {
    text-align: center;
    width: 30%;
    float: right;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
    
    
}

.slider-principal{
    width: 640px;
    height: 640px;
    margin: 0 auto;
    position: relative;
    
    
}


button.slick-prev {
    font-size: 0px;
    border: none;
    width: 16px;
    height: 46px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/arrow-left.png);
    top: 50%;
    left: 14%;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 16px;
    height: 46px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/arrow-right.png);
    top: 50%;
    right: 14%;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #000000;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 39%;
    top: 578px;
}

li.slick-active button {
    background: #a10207;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

.dog {
    cursor: pointer;
    margin-bottom: -71px;
    text-align: center;
    position: relative;
    margin-left: 39%;
    
}
.texto-destaque strong {
    color: #646464;
}
.q-sm-1 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #818181;
    font-size: 25px;
   

}


.historia h1 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;
}
.q-sm {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 100px;

}
.borda {
    margin-top: 65px;
    
    height: 44px;
    border-bottom: 3px solid #000000;
    position: relative;
    border-top: 3px solid #000000;
}
.borda-2 {
    margin-top: 20px;
    height: 44px;
    border-bottom: 3px solid #000000;
    position: relative;
    border-top: 3px solid #000000;
}
.historia p {
    
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size:30px;
    text-align: center;
    text-align: justify;
   
}

.texto-abaixo {
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #818181;
    font-size: 20px;
   
    
}
.texto-abaixo ul li{
    
    margin-left: 45px;
    display: inline-block;
}
.pata{
    margin-top: 30px;
    position: relative;
    float: right;
    

}
.pata2{
    float: left;
    margin-top: -54px;
    

}

.texto-abaixo h1{
    margin-top: 90px;
    text-transform: uppercase;
    font-size: 50px;

}

.texto-abaixo h2{
   
    text-transform: uppercase;
    font-size: 50px;
    
}

.texto-abaixo h3{
    font-size: 50px;
    margin-top: 68px;
 
    color: #818181;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
   
}
.texto-abaixo p3{
    margin-top: 15px
}


.col-5{
    font-family: 'Montserrat', sans-serif;
    color: #818181;
}





.texto-destaque h1 {
    text-transform: uppercase;

    margin-top: 100px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 38px;
    color: #818181;
}
.texto-destaque p {
    font-size: 15px;
    color: #9a9a9a;
}

.missao{
    text-align: center;
    position: relative;
    font-size: 25px;
    width: 70%;
    margin-left: 15%;

}





h3 {
    font-weight: normal!important;
}

 
.visao {
    text-align: center;
    position: relative;
    font-size: 25px;
    width: 70%;
    margin-left: 15%;
}
.col-5{
    text-align: center;
    width: 65%;
    float: left;
    margin-left: 17%;
    position: relative;
    font-size: 25px;
} 


.col-4 img {
cursor: pointer;
 margin: 0 auto;
 padding-top: 1em;
 vertical-align: middle;
}
.col-4 img:hover {
    margin-top: 10px!important;
    position: relative!important;
}


.bloco-logos {
    height: 170px;
}

.bloco-logos img {
    margin-top: 50px;
}




 
.header-3 {
    width: 100%;
    margin: 0 auto;
    background-color: #333333;
    display: inline-block;
}
 

.footer-1{
     border-top: #000000 3px solid;
     border-bottom: #000000 3px solid;
     background-color: #ffffff;
     height: 44px;
     margin-top: 100px;


}
.footer-2{
     height: 200px;
     background-color: #FA3232;
     border-bottom: #000000 3px solid;
     text-align: left;
     

}
.contatos{
    
    float: left;
    font-size: 18px;
    
    list-style: none;
    margin-top: 14px;
    position: relative;
    width: 25%;
    color: #ffffff;
    margin-left: -120px;
    font-family: 'Montserrat', sans-serif;
}
.contatos-2 {
    
    float: left;
    width: 25%;
    list-style: none;
    
    font-size: 30px;
    margin-top: -14px;
    margin-left: 104px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.border{
    border: 0;
    border-top: 1px solid #e0e0e0;
    margin: 1.6rem 0;


}
.contatos-3{
    margin-top: 35px;
    position: relative;
    width: 13%;
    float: left;
    margin-left: 174px;
    list-style: none;
    display: block;
}

.horas {

font-size: 24px;
margin-top: -9px;
position: absolute;
width: 25%;
}

.contatos-4{
    width: 24%;
    float: right;
    margin-right: -112px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
   font-size: 20px;
   list-style: none;
}

.tell{

    position: absolute;
    margin-top: 82px;
}

.pc {
    position: absolute;
    margin-top: -15px;

}

.maps {
    position: relative;
    margin-left: 70px;
}




    

.bloco-texto {

        margin-top: 3em;
}
.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-imagem {
    height: 340;
    border: 1px solid #c5c5c5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}

.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
    width: 29%;
    float: left;
    position: relative;
}
